@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');

body{
	padding: 0;
	margin: 0;
	font-family: 'Butterfly Kids', cursive;
}

.navbar-wrap .navbar .nav-link{
	font-size: 24px;
	color: #000;
	font-weight: 800;
}

.navbar-wrap .navbar-brand{
	font-size: 26px;
	font-weight: 900;
}

h1{
	text-transform: uppercase;
	font-weight: 900;
}

h3{
	text-transform: capitalize;
	font-weight: 900;
}

.section1 .container{
	padding: 50px 100px;
}

.section1 .ballon{
	position: absolute;
	right: -15px;
	height: 50vh;
}

.section1 .cake{
	height: 50vh;
}

.section2 .container{
	padding: 50px 100px;
}

.section2 .about-img{
	height: 30vh;
}